.even td {
    background-color: lightgray;
    padding-left: 10px;
    padding-right: 10px;

    text-align: left;
}
.odd td {
    background-color: white; 
    padding-left: 10px ;
    padding-right: 10px;   
    text-align: left;
    border: 0;
    
}
table {
    border-collapse: collapse;
}
td {
    padding: 0;
}