body {
font-size:40px;
}
table {
/*    border-collapse: collapse; */
    width: 100%;
}
.even td {
    background-color: lightgray;
    padding-left: 3%;
    padding-right: 10px;
text-align: left;
}
.odd td {
    background-color: white; 
    padding-left: 3% ;
    padding-right: 10px;   
    text-align: left;
/*  border: 0; */
}
