<!doctype html>

<head>
    <title> EBIN SCHPATTS! </title>
</head>


{% macro input(name, value='', type='text', size=20) -%}
    <input type="{{ type }}" name="{{ name }}" value="{{
        value|e }}" maxlength="40" size="{{ size }}">
{%- endmacro %}

<FORM action="/newscore" method="POST"> 

{% block body %}
<table>

<tr><td>Nick:</td>
    <td> 
    <select name="nick">
        {% for nick in nicks %}
        <option value="{{nick}}">{{nick}}</option>
        {% endfor %}
    </select>
    </td>
    <td>New nick? </td><td>{{input('newnick')}}</td>
<td>Lisää nick ainoastaan jos ei ole jo listassa!</td></tr>

<tr><tr><td>Game:</td>
    <td> 
    <select name="game">
        {% for game in games %}
        <option value="{{game}}">{{game}}</option>
        {% endfor %}
    </select>
    </td>
    <td>New game? </td><td>{{input('newgame')}}</td>
<td>Sama juttu</td>
</tr>

<tr>

    <td>New scoretype? </td><td>{{input('newscoretype')}}</td>
<td>time / points (ainoastaan jos luot uuden entryn pelille)</td>
</tr>

<tr><td>Score:</td><td> {{input('score')}}</td><td>aika muodossa 00:00:00</td></tr>


<tr>
   <td> <INPUT type="submit" value="Insert Score"> </td>
</tr>


</FORM>
{% endblock %}

