<!doctype html>

<head>
    <title> EBIN SCHPATTS! </title>
</head>


{% macro input(name, value='', type='text', size=20) -%}
    <input type="{{ type }}" name="{{ name }}" value="{{
        value|e }}" maxlength="30" size="{{ size }}">
{%- endmacro %}

<FORM action="/newscore" method="POST"> 
{% block body %}
<table>
<tr>
<td>Nick:</td><td> {{input('nick')}}</td>
</tr>
<tr>
<td>Game:</td><td> {{input('game')}}</td>
</tr>
<tr>
<td>Score:</td><td> {{input('score')}}</td>
</tr>
<tr>
<td>Scoretype:</td><td> {{input('scoretype', 'points')}}</td>
</tr>
<tr>
   <td> <INPUT type="submit" value="Insert Score"> </td>
</tr>


</FORM>

{% endblock %}

